![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Projeto Web Scraping

##### Nome: Wagner G França

 ## Os Dados serão extraídos da  " _hlt.org_ "

![hltv1.png](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBnhiLqKkFdTC2OL-Kmx42rtoK0e65LJ-xcA&usqp=CAU)

## Devido a pandemia do COVID-19, não foram possiveis extrair dados de 6 meses atrás.

## Importando Bibliotecas necessárias

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import random

##### Urls para scraping

Será extraído todas as partidas ano a ano

a ideia desse web scraping é trazer as estatiscas dos jogadores a cada ano e averiguar quais mapas eles se destacam

In [12]:
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36'}

y_17 = ('https://www.hltv.org/stats/players?startDate=2017-01-01&endDate=2017-12-31&maps=all&rankingFilter=Top20')

y_18 = ('https://www.hltv.org/stats/players?startDate=2018-01-01&endDate=2018-12-31&maps=all&rankingFilter=Top20')

y_19 = ('https://www.hltv.org/stats/players?startDate=2019-01-01&endDate=2019-12-31&maps=all&rankingFilter=Top20')

y_20 = ('https://www.hltv.org/stats/players?startDate=2020-01-01&endDate=2020-12-31&maps=all&rankingFilter=Top20')

In [13]:
year_2017 = requests.get(y_17,headers = headers)

year_2018 = requests.get(y_18,headers = headers)

year_2019 = requests.get(y_19,headers = headers)

year_2020 = requests.get(y_20,headers = headers)

## Creating a soup

In [14]:
soup_2017 = BeautifulSoup(year_2017.content)

soup_2018 = BeautifulSoup(year_2018.content)

soup_2019 = BeautifulSoup(year_2019.content)

soup_2020 = BeautifulSoup(year_2020.content)

## Read a HTML

In [15]:
year_17 = pd.read_html(year_2017.content)

year_18 = pd.read_html(year_2018.content)

year_19 = pd.read_html(year_2019.content)

year_20 = pd.read_html(year_2020.content)

# Extrair nomes dos mapas e adicionar aos respectivos DataSet

In [6]:
maps = [x.text for x in soup_2017.find_all('div',attrs = {'class':"g-grid"})[0].find_all('div')]
de_maps = [(f'de_{(each_map).lower()}') for each_map in maps]

In [7]:
#Exclusão de mapas sem informações

del(de_maps[0],de_maps[1],de_maps[-2],de_maps[-3], de_maps[-1])

In [8]:
de_maps

['de_cache',
 'de_dust2',
 'de_mirage',
 'de_inferno',
 'de_nuke',
 'de_train',
 'de_overpass']

## Retornando informações DataFrame com cada mapa.

In [25]:
#Função onde retorna o dataframe de cada mapa jogado por ano

def links_maps(ano,map_list):
    links = []
    
    
    for x in map_list:  
        url = (f'https://www.hltv.org/stats/players?startDate=20{ano}-01-01&endDate=20{ano}-12-31&maps={x}&rankingFilter=Top20')
        h2 = requests.get(url,headers = headers)
        html = pd.read_html(h2.content)    
        for y in html:
            links.append(y)    

    return links

In [26]:
#chamando função e retornando partidas 
maps17 = links_maps(17,de_maps)

In [ ]:
maps18 = links_maps(18,de_maps)

In [ ]:
maps19 = links_maps(19,de_maps)

In [ ]:
maps20 = links_maps(20,de_maps)

##### Separando os dados por mapas

In [41]:
de_cache_17 = maps17[0]
de_dust2_17 = maps17[1]
de_mirage_17 = maps17[2]
de_inferno_17 = maps17[3]
de_nuke_17 = maps17[4]
de_train_17 = maps17[5]
de_overpass_17 = maps17[6]


#Criando uma tabela com nomes dos mapas para fazer um append em um único DataFrame

de_cache_17['map_name'] = 'de_cache'
de_dust2_17['map_name'] = 'de_dust2'
de_mirage_17['map_name'] = 'de_mirage'
de_inferno_17['map_name'] = 'de_inferno'
de_nuke_17['map_name'] = 'de_nuke'
de_train_17['map_name'] = 'de_train'
de_overpass_17['map_name'] = 'de_overpass'

map_2017 = de_cache_17.append([de_dust2_17, de_mirage_17, de_inferno_17, de_nuke_17, de_train_17, de_overpass_17])

In [43]:
de_cache_17 = maps17[0]
de_dust2_17 = maps17[1]
de_mirage_17 = maps17[2]
de_inferno_17 = maps17[3]
de_nuke_17 = maps17[4]
de_train_17 = maps17[5]
de_overpass_17 = maps17[6]


#Criando uma tabela com nomes dos mapas para fazer um append em um único DataFrame

de_cache_17['map_name'] = 'de_cache'
de_dust2_17['map_name'] = 'de_dust2'
de_mirage_17['map_name'] = 'de_mirage'
de_inferno_17['map_name'] = 'de_inferno'
de_nuke_17['map_name'] = 'de_nuke'
de_train_17['map_name'] = 'de_train'
de_overpass_17['map_name'] = 'de_overpass'

map_2017 = de_cache_17.append([de_dust2_17, de_mirage_17, de_inferno_17, de_nuke_17, de_train_17, de_overpass_17])

       Player  Teams  Maps  K-D Diff   K/D  Rating2.0     map_name
0         fer    NaN    27       138  1.30       1.30     de_cache
1        NiKo    NaN    29       155  1.30       1.29     de_cache
2    coldzera    NaN    27       167  1.41       1.24     de_cache
3       boltz    NaN    23        77  1.21       1.23     de_cache
4   GeT_RiGhT    NaN    34       108  1.19       1.18     de_cache
..        ...    ...   ...       ...   ...        ...          ...
27       Xizt    NaN    23       -42  0.91       1.01  de_overpass
28     MODDII    NaN    32       -34  0.94       1.01  de_overpass
29     Edward    NaN    30       -25  0.96       1.00  de_overpass
30       allu    NaN    28       -10  0.98       0.99  de_overpass
31       Zeus    NaN    24       -41  0.91       0.97  de_overpass

[280 rows x 7 columns]

In [34]:
maps_17

       Player  Teams  Maps  K-D Diff   K/D  Rating2.0
0         fer    NaN    27       138  1.30       1.30
1        NiKo    NaN    29       155  1.30       1.29
2    coldzera    NaN    27       167  1.41       1.24
3       boltz    NaN    23        77  1.21       1.23
4   GeT_RiGhT    NaN    34       108  1.19       1.18
..        ...    ...   ...       ...   ...        ...
27       Xizt    NaN    23       -42  0.91       1.01
28     MODDII    NaN    32       -34  0.94       1.01
29     Edward    NaN    30       -25  0.96       1.00
30       allu    NaN    28       -10  0.98       0.99
31       Zeus    NaN    24       -41  0.91       0.97

[280 rows x 6 columns]

In [49]:
de_cache_18 = links_18[0]
de_dust2_18 = links_18[1]
de_mirage_18 = links_18[2]
de_inferno_18 = links_18[3]
de_nuke_18 = links_18[4]
de_train_18 = links_18[5]
de_overpass_18 = links_18[6]

In [ ]:
de_cache_19 = links_19[0]
de_dust2_19 = links_19[1]
de_mirage_19 = links_19[2]
de_inferno_19 = links_19[3]
de_nuke_19 = links_98[4]
de_train_19 = links_19[5]
de_overpass_19 = links_19[6]

In [30]:
de_cache_20 = maps20[0]
de_dust2_20 = maps20[1]
de_mirage_20 = maps20[2]
de_inferno_20 = maps20[3]
de_nuke_20 = maps20[4]
de_train_20 = maps20[5]
de_overpass_20 = maps20[6]

----

In [31]:
de_overpass_20

        Player  Teams  Maps  K-D Diff   K/D  Rating2.0
0       s1mple    NaN    12        89  1.52       1.34
1   electronic    NaN    12        62  1.35       1.29
2       Magisk    NaN    15        60  1.23       1.27
3        ZywOo    NaN    12        54  1.23       1.24
4      Brollan    NaN    13        61  1.26       1.23
5       device    NaN    15        90  1.37       1.22
6      dupreeh    NaN    15        50  1.19       1.21
7          REZ    NaN    20        33  1.09       1.20
8        twist    NaN    20        66  1.21       1.19
9         NiKo    NaN    11        35  1.19       1.15
10       Lekr0    NaN    11        17  1.10       1.14
11       Xyp9x    NaN    10        14  1.09       1.10
12      flusha    NaN    13         5  1.02       1.10
13       nawwk    NaN    20        30  1.09       1.09
14        shox    NaN    12        10  1.04       1.07
15       KRIMZ    NaN    13         3  1.01       1.07
16     Plopski    NaN    20         7  1.02       1.07
17       STYKO    NaN    10        -2  0.99       1.06
18       broky    NaN    11        21  1.12       1.05
19     Boombl4    NaN    12       -17  0.92       1.03
20         RpK    NaN    12        -4  0.98       1.03
21       Maden    NaN    10       -15  0.92       1.02
22        apEX    NaN    12       -10  0.96       1.02
23      cadiaN    NaN    10         5  1.03       1.02
24       b0RUP    NaN    10         6  1.03       1.01
25    Perfecto    NaN    12        -2  0.99       1.00
26        zehN    NaN    10       -13  0.93       0.99
27    coldzera    NaN    11         2  1.01       0.99
28       stavn    NaN    10       -20  0.90       0.98
29      gla1ve    NaN    13       -23  0.89       0.97
30        rain    NaN    11       -38  0.81       0.95
31      flamie    NaN    12       -24  0.88       0.95
32    misutaaa    NaN    11       -50  0.79       0.87
33          JW    NaN    13       -49  0.80       0.87
34      Golden    NaN    13       -77  0.70       0.82
35     kRYSTAL    NaN    10       -88  0.56       0.70

In [50]:
de_cache_18['map_name'] = 'de_cache'
de_dust2_18['map_name'] = 'de_dust2'
de_mirage_18['map_name'] = 'de_mirage'
de_inferno_18['map_name'] = 'de_inferno'
de_nuke_18['map_name'] = 'de_nuke'
de_train_18['map_name'] = 'de_train'
de_overpass_18['map_name'] = 'de_overpass'

In [13]:
map_2017 = de_cache.append([de_dust2, de_mirage, de_inferno, de_nuke, de_train, de_overpass])

In [52]:
map_2018 = de_cache_18.append([de_dust2_18, de_mirage_18, de_inferno_18, de_nuke_18, de_train_18, de_overpass_18])

In [53]:
map_2018

      Player  Teams  Maps  K-D Diff   K/D  Rating2.0     map_name
0       NiKo    NaN    33       216  1.43       1.33     de_cache
1    Twistzz    NaN    22       139  1.41       1.29     de_cache
2     tabseN    NaN    15        52  1.19       1.28     de_cache
3        NAF    NaN    23        97  1.26       1.28     de_cache
4      ISSAA    NaN    15        75  1.32       1.19     de_cache
..       ...    ...   ...       ...   ...        ...          ...
31      Zeus    NaN    43      -110  0.85       0.94  de_overpass
32      daps    NaN    30       -70  0.85       0.94  de_overpass
33     ANGE1    NaN    37      -132  0.82       0.93  de_overpass
34   DeadFox    NaN    36      -116  0.83       0.93  de_overpass
35  karrigan    NaN    35      -117  0.83       0.91  de_overpass

[256 rows x 7 columns]

In [41]:
len(teams_18)

256

In [46]:
!dir

 O volume na unidade C nÆo tem nome.
 O N£mero de S‚rie do Volume ‚ C25D-B86B

 Pasta de C:\Users\User\Aulas_ironhack\Projects-master\project

07/10/2020  20:16    <DIR>          .
07/10/2020  20:16    <DIR>          ..
07/10/2020  02:32    <DIR>          .ipynb_checkpoints
07/10/2020  20:16            36.307 Final_Projeto_Web_Scraping.ipynb
07/10/2020  20:16             9.454 maps.csv
               2 arquivo(s)         45.761 bytes
               3 pasta(s)   37.893.603.328 bytes dispon¡veis

In [45]:
map_2018.to_csv('maps.csv')

In [37]:
teams_17 = []    

for x in de_maps:   
    url = f'https://www.hltv.org/stats/players?startDate=2017-01-01&endDate=2017-12-31&maps={x}&rankingFilter=Top20'
    h2 = requests.get(url,headers = headers)
    soup2 = BeautifulSoup(h2.content)
    for y in range(1,len(soup2.find_all('tr'))):
        teams_17.append(soup2.find_all('tr')[y].find_all('img')[1].get('title'))

In [21]:
teams_18 = []    

for x in de_maps:   
    url = f'https://www.hltv.org/stats/players?startDate=2018-01-01&endDate=2018-12-31&maps={x}&rankingFilter=Top20'
    
    h2 = requests.get(url,headers = headers)
    soup2 = BeautifulSoup(h2.content)
    for y in range(1,len(soup2.find_all('tr'))):
        teams_18.append(soup2.find_all('tr')[y].find_all('img')[1].get('title'))

In [27]:
teams_19 = []    

for x in de_maps:   
    url = f'https://www.hltv.org/stats/players?startDate=2019-01-01&endDate=2019-12-31&maps={x}&rankingFilter=Top20'
    h2 = requests.get(url,headers = headers)
    soup2 = BeautifulSoup(h2.content)
    for y in range(1,len(soup2.find_all('tr'))):
        teams_19.append(soup2.find_all('tr')[y].find_all('img')[1].get('title'))

In [28]:

teams_20 = []    

for x in de_maps:   
    url = f'https://www.hltv.org/stats/players?startDate=2020-01-01&endDate=2020-12-31&maps={x}&rankingFilter=Top20'
    h2 = requests.get(url,headers = headers)
    soup2 = BeautifulSoup(h2.content)
    for y in range(1,len(soup2.find_all('tr'))):
        teams_20.append(soup2.find_all('tr')[y].find_all('img')[1].get('title'))

In [33]:
def team1(z):
    teams_20 = []    

    for x in de_maps:   
        url = f'https://www.hltv.org/stats/players?startDate=20{z}-01-01&endDate=20{z}-12-31&maps={x}&rankingFilter=Top20'
        h2 = requests.get(url,headers = headers)
        soup2 = BeautifulSoup(h2.content)
        for y in range(1,len(soup2.find_all('tr'))):
            teams_20.append(soup2.find_all('tr')[y].find_all('img')[1].get('title'))
            
    return teams_20